{% extends 'base.html' %}
{% load static %}
{% block title %}AppTheme | About {% endblock %}
{% block body_block %}

<section id="subheader">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About Us</hi>
			</div>
		</div>
	</div>
</section>

<section id="page" class="about">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xl-12">
				<h2><span class="primary-text">Who</span> We Are</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<hr>
				<h2><span class="primary-text">What</span> We Do</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
</section>

<section ="company">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h4>Contact Us</h4>
				<ul>
					<li><i class="fa fa-phone">(718)801-6224</i></li>
					<li><i class="fa fa-at">support@test.test</i></li>
					<li><i class="fa fa-map">300 Swerve St., Bronx NY</i></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h4>About Us</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h4>Newsletter</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</section>


{% endblock %}
