{% extends 'base.html' %}
{% block body_block %}

<section id="showcase">
	<div class="container">
		<div class="row center-xs middle-xs">
			<div class="col-xs-12">
				<h1>Welcome to <span class="primary-text">AppTheme</span></h1>
				<p> A template built with HTML5, CSS3, Flexbox Grid and Django</p>
			</div>
		</div>
	</div>
</section>

<section id="showcase">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs-12">
				<h2>Core Features</h2>
				<p> What's included</p>
<!--Icon Row 1-->
				<div class="row center-xs">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fa fa-dashboard"></i><br>
						<h4>Fully Optimized</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fab fa-question-circle-o"></i><br>
						<h4>Free Support</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fa fa-rocket"></i><br>
						<h4>Free Upgrade</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
				</div>
<!--Icon Row 2-->
				<div class="row center-xs">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fa fa-line-chart"></i><br>
						<h4>Uptime Guarantee</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fa fa-users"></i><br>
						<h4>Multi-User</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<i class="fa fa-play"></i><br>
						<h4>Plug & Play</h4>
						<p>It uses the same classes as the Bootstrap grid.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}